@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  background: url("../images/pattern-background-desktop.svg"),
    hsl(225, 100%, 94%);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "red hat display";
  padding: 2.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 4.7rem auto;
  overflow: hidden;
  max-width: 450px;
  font-size: 1.6rem;
  border-radius: 2rem;
}

.card > img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: 1.7rem 2.4rem;
  text-align: center;
  background-color: #fff;
}

.card-body h1 {
  font-weight: 900;
  font-size: 2.2rem;
  color: hsl(223, 47%, 23%);
}

.card-body p {
  color: hsl(224, 23%, 55%);
}

.card-text {
  line-height: 2.5rem;
  letter-spacing: -0.4px;
  word-spacing: -0.1px;
  padding: 0px 10px;
}

.card-body #plan {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  margin: 2.5rem auto;
  min-height: 8rem;
}

#plan > img {
  margin-left: -7px;
}

#plan .selected-plan {
  text-align: left;
  margin-left: -25px;
}

#plan .selected-plan h3 {
  font-weight: 900;
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 1.4rem;
  color: hsl(223, 47%, 23%);
}

#plan .selected-plan p {
  font-size: 1.5rem;
  margin-top: 0px;
}

#plan a {
  font-weight: bold;
  font-size: 13px;
  margin-right: -7px;
}

#plan a:hover {
  color: #6c61e0;
  text-decoration: none;
}

.btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 900;
  border: none;
}

.btn.submit {
  background-color: hsl(245, 75%, 52%);
  color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 25px #3829e052;
}

.btn.submit:hover {
  background-color: #6c61e0;
}

.btn.cancel {
  background: none;
  color: hsl(224, 23%, 55%);
}

@media (min-width: 768px) {
  #container {
    padding: 7.4rem;
  }

  .card {
    font-size: 1.7rem;
  }

  .card-body {
    padding: 2.5rem 4.8rem;
  }

  .card-body h1 {
    font-size: 2.8rem;
  }

  .card-body #plan {
    min-height: 10rem;
    margin: 2.1rem auto 3.3rem;
  }

  #plan > img {
    margin-left: -2.3rem;
  }

  #plan .selected-plan {
    margin-left: -7.5rem;
  }

  #plan .selected-plan h3,
  #plan .selected-plan p {
    font-size: 1.6rem;
  }

  #plan .selected-plan p {
    margin-top: 4px;
  }

  #plan a {
    font-size: 14px;
    margin-right: -22px;
  }
}

.attribution{
    text-align: center;
}